.container {
  display: flex;
  gap: 0.75rem;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.375rem;
}

.dividerVertical {
  width: 2px;
  height: 100%;
  background-color: var(--icon-background);
}

.iconContainer {
  background-color: var(--icon-background);
  line-height: 1.33;
  height: 3rem;
  width: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  user-select: none;
  font-size: 1.5rem;
  flex-shrink: 0;
}

.rightBlock {
  margin-top: 0.875rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2.125rem;
}

.tasksList {
  padding-inline-start: 0;
  list-style-position: inside;
  margin-block-start: 0;
}

.task {
  color: var(--grey-color);
  font-size: 0.875rem;
}

.period {
  font-size: 0.75rem;
  color: var(--grey-color);
}

.name {
  font-size: 0.875rem;
  color: var(--neutral-color);
  font-weight: 500;
}

.technologiesHeader {
  color: var(--neutral-color);
  font-weight: bolder;
  font-size: 0.875rem;
}

.technologiesText {
  color: var(--ui-text);
  font-size: 0.875rem;
}
