.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.nameText {
  color: var(--green-color);
}

.descriptionText {
  color: var(--neutral-color);
  font-size: 3rem;
}
