.cardContainer {
  box-shadow:
    inset 0 1px 1px rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.2);

  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  color: var(--green-color);
  height: 40px;
  width: 40px;
}

.name {
    font-size: 1.25rem;
    color: var(--neutral-color)
}