.container {
  width: 100%;
  height: 100vh;

  --size: 50px;
  --line: 1px;
  --color: var(--border-color);

  background-image:
    linear-gradient(var(--color) var(--line), transparent var(--line)),
    linear-gradient(90deg, var(--color) var(--line), transparent var(--line));

  background-size: var(--size) var(--size);
  background-position: center;

  animation: grid-pulse 24s ease-in-out infinite;

  mask-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    );
  -webkit-mask-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 15%,
      rgba(0, 0, 0, 1) 85%,
      rgba(0, 0, 0, 0) 100%
    );

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;

  mask-composite: intersect;
  -webkit-mask-composite: destination-in;

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes grid-pulse {
  0% {
    background-size: 50px 50px;
  }
  50% {
    background-size: 60px 60px;
  }
  100% {
    background-size: 50px 50px;
  }
}

.contentContainer {
  max-width: 56rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainInfo {
  text-align: center;
  opacity: 0;
  transform: scale(1.08) translateY(-12px);
  animation: appear 1.3s forwards;
  filter: blur(15px);
  margin-bottom: 2.5rem;
}

@keyframes appear {
  to {
    filter: blur(0);
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.fio {
  font-size: 4.5rem;
  color: var(--neutral-color);
  margin: 0.2em;
  font-weight: normal;
}

.developer {
  display: inline-block;
  font-size: 1.5rem;
  opacity: 0;
  transform: translateY(60px);
  animation: slideUp 1s ease-out forwards;
  animation-delay: 0.5s;
  color: var(--green-color);
}

.developerBottom {
  display: inline-block;
  font-size: 1.5rem;
  opacity: 0;
  transform: translateY(-60px);
  animation: slideDown 1s ease-out forwards;
  animation-delay: 0.5s;
  color: var(--green-color);
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.blueText {
  color: var(--blue-color);
}

.greenText {
  color: var(--green-color);
}

.specialize {
  font-size: 1.5rem;
  text-align: center;
}

.linksContainer {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  gap: 1rem;
  opacity: 0;
  transform: scale(1.08) translateY(-12px);
  animation: appear 1.3s forwards;
  filter: blur(15px);
}

.worksLink {
  text-decoration: none;
  color: var(--bg-color);
  background-color: var(--green-color);
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition-duration: 0.5s;

  &:hover {
    background-color: color-mix(in oklab, var(--green-color) 75%, transparent);
  }
}

.contactsLink {
  text-decoration: none;
  color: var(--green-color);
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition-duration: 0.5s;
  border: 1px solid var(--green-color);

  &:hover {
    background-color: color-mix(in oklab, var(--green-color) 10%, transparent);
  }
}

.arrow {
  text-decoration: none;
}

.arrowIcon {
  width: 2rem;
  height: 2rem;
  transition-duration: 0.5s;
  color: var(--grey-color);
   animation: bounce 1s infinite;

  &:hover {
    color: white;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}