.blockContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr));
  max-width: 64rem;
  align-items: center;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  max-width: 64rem;
  gap: 1.5rem;
}
